#containter
{
    width: 100vw;
    height: 100vh;
    background-color: lightgreen;
    margin-left: auto; margin-right: auto
}
#tresc{
    width:45vw;
    height:45vh;
    background-color: lightblue;
}
#mapa{
    width:45vw;
    height:45vh;
    background-color: grey;
}