
body{
	margin:0px;
	font-size: 13px;
	text-align: justify;
	padding: 0px;
}
.container{
	border-radius: 10px;
	margin:0px;
	margin-top:5px;
     padding-right: 0; /*15px in bootstrap.css*/
     padding-left: 0;  /*idem*/
     margin-right: auto;
     margin-left: auto;
}
.row{
	height: calc(100vh - 180px);
	margin:0px;
}
.col {
	background-color: white;
	color:grey;
}
#logo{
	
	text-align: center;
	min-height: 50px;
	display: inline-block;
}

#mymap{
	height: calc(100vh - 198px);
	min-height: 75px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px ;
	margin-top: 5px;
	
}
#oferty{
	margin-top: 5px;
	background-color: #21562f;
	overflow: auto;
	height: calc(100vh - 210px);;
	
	
}

.col[id^='oferta'] {
	color: #333333;
	padding: 5px;
	margin-bottom: 5px;
	margin-top:5px;
	overflow: hidden;
	min-height: 75px;
	background-color: #fff;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	/* -webkit-box-shadow: 9px 9px 0px -6px rgba(0,0,0,0.44);
	-moz-box-shadow: 9px 9px 0px -6px rgba(0,0,0,0.44);
	box-shadow: 9px 9px 0px -6px rgba(0,0,0,0.44); */
}

.col[id^='oferta']:hover{
	background-color: #a3dbb2; 
}

[id^='tekst']{
	font-size: 13px;
}

[id^='tekst'] h3{
	font-size: 16px;
}

img{
	height: 60px;
	float:left;
	margin:15px;
}

@keyframes fade { 
  	from{ opacity:0.5; }
}

.blinking {
  animation: fade 0.3s infinite alternate;

}

/*efekt pulsowania*/
.pulse {
    animation: pulsate 1s ease-out;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}


@keyframes pulsate {
    0% {transform: opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {transform: opacity: 0.0;}
}

.leaflet-control-scale-line {
	border: 2px solid #000000;
	border-radius: 5px;
    border-top: none;
    line-height: 1.1;
    padding: 2px 5px 1px;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
}
